/* styles/SkipButton.module.scss */

$base-color: #FFB45B;
$text-color: #FFFFFF;

.btn {
  padding: 12px 9px 9px 9px;
  background-color: $base-color;
  color: $text-color;
  border: none;
  border-radius: 20px;
  cursor: pointer;


  &:hover {
    transition: 0.5s;
    background-color: darken($base-color, 10%);
  }
}

