// styles/_variables.scss

// FONTS //
$font-family: "Raleway", sans-serif;
$second-family: "Actay Wide", sans-serif;
$third-family: "SF Pro Text", sans-serif;
$font3: "Inter", sans-serif;
$font4: "Actay", sans-serif;

//  basic colors //
$basic-col1: #4d4d4d;
$basic-col2: #373737;
$basic-col3: #fff;
$basic-col4: #ffb45b;
$basic-col5: #3a3c41;

// additional colors //
$additional-col1: #00b2ff;
$additional-col2: #1400f7;
$additional-col3: #FF6666;
$additional-col4: #B2FF97;
$additional-col5: #FCFF80;

// HEADINGS //
$heading-1: (
        font-family: $font-family,
        font-weight: 700,
        font-size: 20px
);

$heading-2: (
        font-family: $font-family,
        font-weight: 700,
        font-size: 17px
);

$heading-3: (
        font-family: $font-family,
        font-weight: 700,
        font-size: 16px
);

// MAIN TEXT //

$main-text-regular: (
        font-family: $font-family,
        font-weight: 400,
        font-size: 12px
);

$main-text-medium: (
        font-family: $font-family,
        font-weight: 500,
        font-size: 12px
);

// CALENDAR //

$calendar-text-semibold: (
        font-family: $font-family,
        font-weight: 600,
        font-size: 14px
);

$calendar-text-bold: (
        font-family: $font-family,
        font-weight: 700,
        font-size: 14px
);

// balance wheel colors
$balance-wh1: #fff;
$balance-wh2: #63dfc5;
$balance-wh3: #7fd980;
$balance-wh4: #c0d727;
$balance-wh5: #f4bc20;
$balance-wh6: #ec865a;
$balance-wh7: #e9769a;
$balance-wh8: #aa96ee;
$balance-wh9: #6ecbec;
$balance-wh10: #00ff19;

// MIXINS //

// Миксины для заголовков
@mixin heading-1 {
  font-family: map-get($heading-1, font-family);
  font-weight: map-get($heading-1, font-weight);
  font-size: map-get($heading-1, font-size);
}

@mixin heading-2 {
  font-family: map-get($heading-2, font-family);
  font-weight: map-get($heading-2, font-weight);
  font-size: map-get($heading-2, font-size);
}

@mixin heading-3 {
  font-family: map-get($heading-3, font-family);
  font-weight: map-get($heading-3, font-weight);
  font-size: map-get($heading-3, font-size);
}

// Миксины для основного текста
@mixin main-text-regular {
  font-family: map-get($main-text-regular, font-family);
  font-weight: map-get($main-text-regular, font-weight);
  font-size: map-get($main-text-regular, font-size);
}

@mixin main-text-medium {
  font-family: map-get($main-text-medium, font-family);
  font-weight: map-get($main-text-medium, font-weight);
  font-size: map-get($main-text-medium, font-size);
}

// Миксины для календаря
@mixin calendar-text-semibold {
  font-family: map-get($calendar-text-semibold, font-family);
  font-weight: map-get($calendar-text-semibold, font-weight);
  font-size: map-get($calendar-text-semibold, font-size);
}

@mixin calendar-text-bold {
  font-family: map-get($calendar-text-bold, font-family);
  font-weight: map-get($calendar-text-bold, font-weight);
  font-size: map-get($calendar-text-bold, font-size);
}