.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;

  h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  input[type="range"] {
    width: 100%;
    margin: 20px 0;
  }

  textarea {
    width: 100%;
    margin: 20px 0;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #444;
    color: white;
  }
}

.buttonsContainer, .multiSelectContainer, .painPointsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;

  button {
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background-color: #666;
    color: white;
    cursor: pointer;
    font-size: 1.2em;

    &:hover {
      background-color: #888;
    }

    &.active {
      background-color: #999;
    }
  }
}

.optionButton {
  padding: 70px 20px;
  border: none;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    transition: background 0.3s ease;
  }

  &:hover::after {
    background: rgba(0, 0, 0, 0.6);
  }
}

.navigationButtons {
  display: flex;
  gap: 15px;

  button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background 0.3s ease;

    &:nth-child(1),
    &:nth-child(2) {
      background-color: #666;
      color: white;

      &:hover {
        background-color: #888;
      }
    }
  }
}

.skipButton {
  background-color: orange;
  color: white;
  transition: background 0.3s ease;

  &:hover {
    background-color: darkorange;
  }
}

.inputField {
  width: 100%;
  padding: 15px;
  border: 2px solid #666; /* Цвет границы */
  border-radius: 8px; /* Скругление углов */
  background-color: #444; /* Цвет фона */
  color: white; /* Цвет текста */
  margin: 10px 0; /* Отступы сверху и снизу */
  box-sizing: border-box; /* Включение границы и паддинга в общую ширину элемента */
}

.inputField::placeholder {
  color: #999; /* Цвет плейсхолдера */
}

// Стили для квадратных радио-кнопок
.radioContainer {
  display: flex;
  gap: 10px;
  align-items: center;

  input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #fff; /* Белая граница по умолчанию */
    border-radius: 4px; /* Скругление для создания квадрата */
    outline: none;
    cursor: pointer;
    position: relative;
    margin-right: 10px;

    transition: background 0.3s, border-color 0.3s;


    &:checked::after {
      content: '';
      position: absolute;
      top: 50%; /* Центрирование по вертикали */
      left: 50%; /* Центрирование по горизонтали */
      transform: translate(-50%, -50%); /* Центрирование с помощью transform */
      width: 13px; /* Ширина SVG */
      height: 10px; /* Высота SVG */
      background: url('data:image/svg+xml,%3Csvg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M11.3333 1.66663L4.66668 8.33329L1.33334 4.99996" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /%3E%3C/svg%3E') no-repeat center;
      background-size: contain; /* Подгонка размера */
    }
  }

  label {
    font-size: 1.2em;
    color: white;
    cursor: pointer;
  }
}


/* Стили для ползунков */
.range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity .15s ease-in-out;
  position: relative;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #666;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #666;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }

  &::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #666;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }
}

.range-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #ddd;
}

.range-slider::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #ddd;
}

.range-slider::-ms-track {
  width: 100%;
  height: 5px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}