// styles/globals.scss
// Импорт переменных
@import 'variables';
@import 'breakpoints';

/* breakpoints */

@include breakpoints((
        xlarge: (1281px, 1680px),
        large: (981px, 1280px),
        medium: (737px, 980px),
        small: (null, 736px)
));


* {
  @include main-text-medium;
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column; /* Элементы располагаются в колонку: хедер и контент */
  align-items: center; /* Центрирование по горизонтали */
  justify-content: center; /* Центрирование по вертикали */
  text-align: center;
  background-color: $basic-col5;
  width: 100vw;
  height: 100vh;
}

.mainContext {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  width: 218px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #b15e2a;
}

a:hover {
  text-decoration: underline;
}

.mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 30px;
  background-color: #2e2e2d;
  padding: 20px;
}

img {
  margin-bottom: 47px;
}