// styles/variables.scss

// FONTS //
$font-family: "Raleway", sans-serif;
$second-family: "Actay Wide", sans-serif;
$third-family: "SF Pro Text", sans-serif;
$font3: "Inter", sans-serif;
$font4: "Actay", sans-serif;


//  basic colors //

$basic-col1: (
        color: #4d4d4d,
);

$basic-col2: (
        color: #373737,
);

$basic-col3: (
        color: #fff,
);

$basic-col4: (
        color: #ffb45b,
);

$basic-col5: (
        color: #3a3c41,
);

// additional colors //

$additional-col1: (
        color: #00b2ff,
);

$additional-col2: (
        color: #1400f7,
);

$additional-col3: (
        color: #FF6666,
);

$additional-col4: (
        color: #B2FF97,
);

$additional-col5: (
        color: #FCFF80,
);

// HEADINGS //
$heading-1: (
        font-family: $font-family,
        font-weight: 700,
        font-size: 20px
);

$heading-2: (
        font-family: $font-family,
        font-weight: 700,
        font-size: 17px
);

$heading-3: (
        font-family: $font-family,
        font-weight: 700,
        font-size: 16px
);

// MAIN TEXT //

$main-text-regular: (
        font-family: $font-family,
        font-weight: 400,
        font-size: 12px
);

$main-text-medium: (
        font-family: $font-family,
        font-weight: 500,
        font-size: 12px
);

// CALENDAR //

$calendar-text-semibold: (
        font-family: $font-family,
        font-weight: 600,
        font-size: 14px
);

$calendar-text-bold: (
        font-family: $font-family,
        font-weight: 700,
        font-size: 14px
);

// balance wheel colors

$balance-wh1: (
        background: #fff,
);

$balance-wh2: (
        background: #63dfc5,
);

$balance-wh3: (
        background: #7fd980,
);

$balance-wh4: (
        background: #c0d727,
);

$balance-wh5: (
        background: #f4bc20,
);

$balance-wh6: (
        background: #ec865a,
);

$balance-wh7: (
        background: #e9769a,
);

$balance-wh8: (
        background: #aa96ee,
);

$balance-wh9: (
        background: #6ecbec,
);

$balance-wh10: (
        background: #00ff19,
);

