/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./public/styles/buttons/SkipButton.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* styles/SkipButton.module.scss */
.SkipButton_btn__8WEYf {
  padding: 12px 9px 9px 9px;
  background-color: #FFB45B;
  color: #FFFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.SkipButton_btn__8WEYf:hover {
  transition: 0.5s;
  background-color: #ff9d28;
}
